<!--Editor Panel-->
<section class="console border-box">
    <h5 class="reset-margin">Editor Panel</h5>
    <hr>
    <br>

    <input class="console-input" type="text" placeholder="Enter form id" />
    <br>

    <input class="console-input" type="text" placeholder="Enter form display label" />
    <br><br>

    <form>
        <input class="console-input" type="text" placeholder="Enter element id" />
        <br>

        <input class="console-input" type="text" placeholder="Enter element display label" />
        <br>

        <select class="console-input">
            <option value="">Select element type</option>
            <option value="text">text</option>
            <option value="select">select</option>
        </select>
        <br>

        <select class="console-input">
            <option value="">Select element data type</option>
            <option value="text">string</option>
            <option value="number">number</option>
            <option value="boolean">boolean</option>
        </select>
        <br>

        <select class="console-input">
            <option value="">Required element?</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br>

        <select class="console-input">
            <option value="">Active by default?</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br>

        <input class="console-input" type="text" placeholder="Enter parent element ids" />
        <br>

        <input class="console-button" type="submit" value="Add Element" />
        <br><br>
        <input class="console-button-large" type="submit" value="Submit Form" />
    </form>
</section>