<!--Editor Panel-->
<section class="console border-box">
    <h5 class="reset-margin">Editor Panel</h5>
    <hr>
    <br>

    <label>Form ID: {{formId}} </label>
    <br><br>

    <input [(ngModel)]="formDisplayLabel" class="console-input" type="text" placeholder="Enter form display label" />
    <br><br>

    <form [formGroup]="consoleElementGroup" (ngSubmit)="onSubmitElement()">

        <label>Element ID: </label>
        <input class="clear-input" formControlName="elementId" type="text"/>
        <br><br>

        <input formControlName="elementDisplayLabel" 
               class="console-input" type="text" placeholder="Enter element display label" 
               [ngClass]="{'invalid-input': consoleElementGroup.controls['elementDisplayLabel'].invalid}"
        />
        <br>

        <select formControlName="elementType" class="console-input">
            <option value="">Select element type</option>
            <option value="text">text</option>
            <option value="select">select</option>
        </select>
        <br>

        <input formControlName="regExPattern" class="console-input" type="text" placeholder="RegEx pattern" />
        <br>
        <br>

        <select formControlName="elementRequiredFlag" class="console-input">
            <option value="">Required element?</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br>

        <input formControlName="elementOptions" class="console-input" type="text" placeholder="Enter element options" />
        <br>

        <input formControlName="parentElementIds" class="console-input" type="text" placeholder="Enter parent element ids" />
        <br>

        <input class="console-button" type="submit" value="Add Element" />
        <input class="console-button-large" type="button" value="Submit Form" (click)="onSubmitForm()"/>
    </form>
</section>