.console {
    overflow: scroll;
    margin: 40px;
    box-shadow: 10px 10px 10px black;
    padding: 20px 80px;
    background-color: whitesmoke;
    min-height: 500px;
}

.console-input {
    border: none;
    border-bottom: 1px solid darkseagreen;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 20px;
    padding-left: 20px;
    width: 80%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.console-button {
    background-color: steelblue;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    color: floralwhite;
}

.console-button-large {
    background-color: steelblue;
    height: 40px;
    width: 130px;
    border-radius: 50px;
    color: floralwhite;
}
