<div class="forms-panel-container">
    <div class="form-selecter">
        <form>
            <select class="console-input" id="form-selector">
                <option value="">select a form to fill</option>
            </select>
            <input class="console-button" type="button" value="Select"/>
        </form>
    </div>
    
    <div class="form-wrapper-container">
        <div class="form-submitter">

        </div>
        <div class="result-viewer">

        </div>
    </div>

</div>