.forms-panel-container {
    box-sizing: border-box;
    height: 90%;
    overflow: scroll;
}

.form-selecter {
    width: 100%;
    box-sizing: border-box;
    height: 20%;
    max-height: 100px;
    padding: 20px 50px;
}

.form-wrapper-container {
    height: 70%;
    min-height: 300px;
    overflow: scroll;
    width: 80%;
    margin: auto;
    min-width: 300px;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px;
    padding: 20px 10%;
}

.form-submitter {

}

.result-viewer {

}