<div class="forms-panel-container">

    <div *ngIf="!formMetasMapFromService">
        <span>Add some form in order to select.</span>
    </div>

    <div *ngIf="formMetasMapFromService">
        <div class="form-selecter">
            <form [formGroup]="selectFormGroup">
                <select formControlName="selectedFormId" class="console-input" id="form-selector">
                    <option value="">select a form to fill</option>
                    <option *ngFor="let mapEntry of formMetasMapFromService | keyvalue" [value]="mapEntry.key">
                        {{mapEntry.value.formMeta.formDisplayLabel || mapEntry.key}}</option>
                </select>
                <input class="console-button" type="button" value="Select" (click)="onFormSelect()" />
            </form>
        </div>
    </div>

    <div class="form-wrapper-container">
        <form *ngIf="selectedFormMeta" [formGroup]="selectedFormGroupControl" class="form-submitter" (ngSubmit)="onSubmitForm()">
            <h2>{{selectedFormMeta.formDisplayLabel || selectedFormMeta.formId}}</h2>
            <br>
            <div *ngFor="let elementMeta of selectedFormMeta.elementsMeta; let i = index">
                <div *ngIf="canThisElementBeEnabled(elementMeta.elementId)">
                    <h4>{{(i+1)}}). {{elementMeta.elementDisplayLabel}}</h4>
                    <div [ngSwitch]="elementMeta.elementType">
                        <input [formControlName]="elementMeta.elementId" class="console-input" *ngSwitchCase="'text'"
                            type="text" [ngClass]="{'invalid-input': isInvalidControl(elementMeta.elementId)}" />
                        <select [formControlName]="elementMeta.elementId" class="console-input"
                            *ngSwitchCase="'select'">
                            <option *ngFor="let option of elementMeta.elementOptions" value="option"
                                [ngClass]="{'invalid-input': isInvalidControl(elementMeta.elementId)}">{{option}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <input class="console-button-large" type="submit" value="Submit" />
        </form>

        <div class="result-viewer">

        </div>
    </div>

</div>