.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    width: 100%;
    height: 85%;
    background-image: linear-gradient(to right, black, black, grey , steelblue, black);
}

header {
    height: 6%;
    padding: 15px 5px 5px 50px;
    color: gray;
    background-image: linear-gradient(to right, black, black, grey , steelblue, black);
}

footer {
    height: 4%;
    padding: 5px 5px 5px 50px;
    color: grey;
    background-image: linear-gradient(to right, black, black, grey , steelblue, black);
}

.console {
    border: 1px solid black;
    overflow: scroll;
    margin: 40px;
    box-shadow: 10px 10px 10px black;
    padding: 20px 80px;
    background-color: whitesmoke;
}

.console-input {
    border: none;
    border-bottom: 1px solid darkseagreen;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 20px;
    padding-left: 20px;
    width: 80%;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.console-button {
    background-color: steelblue;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    color: floralwhite;
}

.console-button-large {
    background-color: steelblue;
    height: 40px;
    width: 130px;
    border-radius: 50px;
    color: floralwhite;
}
