.console {
    padding: 20px 20px;
}

.element-box {
    display: grid;
    grid-template-columns: [c1] 6fr [c2] 1fr;
    grid-template-rows: [r1] 1fr [r2] auto [r3] auto;
    padding: 10px 30px;
    box-sizing: border-box;
    margin: 1px;
    margin-bottom: 2px;
    box-shadow: 0px 0px 0px black
}

.element-wrapper {
    grid-row-start: r1;
    grid-row-end: r4;
    grid-column-start: c1;
    grid-column-end: c1;
}

.order-control {
    margin-top: 10px;
    grid-row-start: r1;
    grid-row-end: r1;
    grid-column-start: c2;
    grid-column-end: c2;
    width: 40px;
    height: 60px;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}

.order-up {
    text-align: center;
    background-color: steelblue;
    color: white;
    width: 40px;
    height: 20px;
}

.order-up:hover {
    background-color: black;
    color: red;
}

.order {
    text-align: center;
    background-color: whitesmoke;
    color: steelblue;
    width: 40px;
    height: 20px;
}

.order-down {
    text-align: center;
    background-color: steelblue;
    color: white;
    width: 40px;
    height: 20px;
}

.order-down:hover {
    background-color: black;
    color: red;
}

.elemnt-id {
    color: inherit;
    padding: 5px;
    color: steelblue;
}

.dark-element-id {
    opacity: 1;
    color: rgb(18, 65, 104);
}