<!--Preview Panel-->
<section class="console border-box">
    <h5 class="reset-margin">Preview Panel</h5>
    <hr>

    <div *ngIf="!formMeta">
        <h3>Add form elements to preview</h3>
    </div>

    <div *ngIf="formMeta">
        <h3>{{formMeta.formDisplayLabel}}</h3>

        <div class="element-box" *ngFor="let elementMeta of formMeta.elementsMeta">
            <div class="element-wrapper">
                <div class="elemnt-id">
                    <label># Element Id: <span class="dark-element-id">{{elementMeta.elementId}}</span></label>
                </div>
                <label>{{elementMeta.elementDisplayLabel}}</label><br>
                <div [ngSwitch]="elementMeta.elementType">
                    <input class="console-input" *ngSwitchCase="'text'" type="text" />
                    <select class="console-input" *ngSwitchCase="'select'">
                        <option *ngFor="let option of elementMeta.elementOptions" value="option">{{option}}</option>
                    </select>
                </div>
            </div>
            <div class="order-control">
                <div class="order-up">/\</div>
                <div class="order">{{elementMeta.elementOrder}}</div>
                <div class="order-down">\/</div>
            </div>      
        </div>
    </div>
    

</section>