html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.reset-margin {
    margin: 0;
}

.border-box {
    box-sizing: border-box;
}

.clear-input {
    background-color: inherit;
    border: none;
    color: inherit;
}

.console {
    overflow: scroll;
    margin: 40px;
    box-shadow: 10px 10px 10px black;
    padding: 20px 40px;
    background-color: whitesmoke;
    min-height: 500px;
}

.console-input {
    border: none;
    border-bottom: 1px solid darkseagreen;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 20px;
    padding-left: 20px;
    width: 80%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.console-button {
    background-color: steelblue;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    color: floralwhite;
}

.console-button:disabled {
    background-color: gray;
}

.console-button-large {
    background-color: steelblue;
    height: 40px;
    width: 130px;
    border-radius: 50px;
    color: floralwhite;
}

.console-button-large:disabled {
    background-color: gray;
}

.invalid-input {
    border-bottom: 1px dashed rgb(250, 116, 116);
}

